/*分页*/
.pagination {
	float: left;
	margin-top: 10px;
	margin-right: 15px;
}

.pagination li {
	float: left;
	color: #333;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	height: 36px;
	margin-right: 5px;
	font-size: 14px;
	padding: 1px 15px;
	line-height: 36px;
}

.pagination .active {
	border: none !important;
	color: #54C457 !important;
	background-color: transparent !important;
}
.frame-body{
	padding:20px;
	height:100%; 
}
.pg-canvas{
	height:100%;
	position:fixed;
	z-index:-1;
}
.layui-table{
	text-align:center;
}
.layui-table .th,.td{
	text-align:center;
}
#login_box{
	margin:100px auto;
	padding:20px 50px  80px 20px;
	width:400px;
	border-radius: 15px;
	background: #FFF;
	box-shadow: 5px 10px 40px #ccc;
} 