/** layui-v1.0.9_rls MIT License By http://www.layui.com */
 .layui-laypage a,a {
	text-decoration:none
}
.layui-btn,.layui-inline,img {
	vertical-align:middle
}
.layui-btn,.layui-unselect {
	-webkit-user-select:none;
	-ms-user-select:none;
	-moz-user-select:none
}
.layui-btn,.layui-tree li i,.layui-unselect {
	-moz-user-select:none
}
blockquote,body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul {
	margin:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
a:active,a:hover {
	outline:0
}
img {
	display:inline-block;
	border:none
}
li {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
h1,h2,h3 {
	font-size:14px;
	font-weight:400
}
h4,h5,h6 {
	font-size:100%;
	font-weight:400
}
button,input,optgroup,option,select,textarea {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	outline:0
}
pre {
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word
}
::-webkit-scrollbar {
	width:10px;
	height:10px
}
::-webkit-scrollbar-button:vertical {
	display:none
}
::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
	background-color:#e2e2e2
}
::-webkit-scrollbar-thumb {
	border-radius:0;
	background-color:rgba(0,0,0,.3)
}
::-webkit-scrollbar-thumb:vertical:hover {
	background-color:rgba(0,0,0,.35)
}
::-webkit-scrollbar-thumb:vertical:active {
	background-color:rgba(0,0,0,.38)
}
@font-face {
	font-family:layui-icon;
	src:url(../font/iconfont.eot?v=1.0.9);
	src:url(../font/iconfont.eot?v=1.0.9#iefix) format('embedded-opentype'),url(../font/iconfont.svg?v=1.0.9#iconfont) format('svg'),url(../font/iconfont.woff?v=1.0.9) format('woff'),url(../font/iconfont.ttf?v=1.0.9) format('truetype')
}
.layui-icon {
	font-family:layui-icon!important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
body {
	line-height:24px;
	font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif
}
hr {
	height:1px;
	margin:10px 0;
	border:0;
	background-color:#e2e2e2;
	clear:both
}
a {
	color:#333
}
a:hover {
	color:#777
}
a cite {
	font-style:normal;
	*cursor:pointer
}
.layui-box,.layui-box * {
	-webkit-box-sizing:content-box!important;
	-moz-box-sizing:content-box!important;
	box-sizing:content-box!important
}
.layui-border-box,.layui-border-box * {
	-webkit-box-sizing:border-box!important;
	-moz-box-sizing:border-box!important;
	box-sizing:border-box!important
}
.layui-clear {
	clear:both;
	*zoom:1
}
.layui-clear:after {
	content:'\20';
	clear:both;
	*zoom:1;
	display:block;
	height:0
}
.layui-inline {
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.layui-edge {
	position:absolute;
	width:0;
	height:0;
	border-style:dashed;
	border-color:transparent;
	overflow:hidden
}
.layui-elip {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap
}
.layui-disabled,.layui-disabled:hover {
	color:#d2d2d2!important;
	cursor:not-allowed!important
}
.layui-circle {
	border-radius:100%
}
.layui-show {
	display:block!important
}
.layui-hide {
	display:none!important
}
.layui-main {
	position:relative;
	width:1140px;
	margin:0 auto
}
.layui-header {
	position:relative;
	z-index:1000;
	height:60px
}
.layui-header a:hover {
	transition:all .5s;
	-webkit-transition:all .5s
}
.layui-side {
	position:fixed;
	top:0;
	bottom:0;
	z-index:999;
	width:200px;
	overflow-x:hidden
}
.layui-side-scroll {
	width:220px;
	height:100%;
	overflow-x:hidden
}
.layui-body {
	position:absolute;
	left:200px;
	right:0;
	top:0;
	bottom:0;
	z-index:998;
	width:auto;
	overflow:hidden;
	overflow-y:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.layui-layout-admin .layui-header {
	background-color:#23262E
}
.layui-layout-admin .layui-side {
	top:60px;
	width:200px;
	overflow-x:hidden
}
.layui-layout-admin .layui-body {
	top:60px;
	bottom:44px
}
.layui-layout-admin .layui-main {
	width:auto;
	margin:0 15px
}
.layui-layout-admin .layui-footer {
	position:fixed;
	left:200px;
	right:0;
	bottom:0;
	height:44px;
	background-color:#eee
}
.layui-btn,.layui-input,.layui-select,.layui-textarea,.layui-upload-button {
	outline:0;
	-webkit-transition:border-color .3s cubic-bezier(.65,.05,.35,.5);
	transition:border-color .3s cubic-bezier(.65,.05,.35,.5);
	-webkit-box-sizing:border-box!important;
	-moz-box-sizing:border-box!important;
	box-sizing:border-box!important
}
.layui-elem-quote {
	margin-bottom:10px;
	padding:15px;
	line-height:22px;
	border-left:5px solid #009688;
	border-radius:0 2px 2px 0;
	background-color:#f2f2f2
}
.layui-quote-nm {
	border-color:#e2e2e2;
	border-style:solid;
	border-width:1px 1px 1px 5px;
	background:0 0
}
.layui-elem-field {
	margin-bottom:10px;
	padding:0;
	border:1px solid #e2e2e2
}
.layui-elem-field legend {
	margin-left:20px;
	padding:0 10px;
	font-size:20px;
	font-weight:300
}
.layui-field-title {
	margin:10px 0 20px;
	border:none;
	border-top:1px solid #e2e2e2
}
.layui-field-box {
	padding:10px 15px
}
.layui-field-title .layui-field-box {
	padding:10px 0
}
.layui-progress {
	position:relative;
	height:6px;
	border-radius:20px;
	background-color:#e2e2e2
}
.layui-progress-bar {
	position:absolute;
	width:0;
	max-width:100%;
	height:6px;
	border-radius:20px;
	text-align:right;
	background-color:#5FB878;
	transition:all .3s;
	-webkit-transition:all .3s
}
.layui-progress-big,.layui-progress-big .layui-progress-bar {
	height:18px;
	line-height:18px
}
.layui-progress-text {
	position:relative;
	top:-18px;
	line-height:18px;
	font-size:12px;
	color:#666
}
.layui-progress-big .layui-progress-text {
	position:static;
	padding:0 10px;
	color:#fff
}
.layui-collapse {
	border:1px solid #e2e2e2;
	border-radius:2px
}
.layui-colla-item {
	border-top:1px solid #e2e2e2
}
.layui-colla-item:first-child {
	border-top:none
}
.layui-colla-title {
	position:relative;
	height:42px;
	line-height:42px;
	padding:0 15px 0 35px;
	color:#333;
	background-color:#f2f2f2;
	cursor:pointer
}
.layui-colla-content {
	display:none;
	padding:10px 15px;
	line-height:22px;
	border-top:1px solid #e2e2e2;
	color:#666
}
.layui-colla-icon {
	position:absolute;
	left:15px;
	top:0;
	font-size:14px
}
.layui-bg-red {
	background-color:#FF5722
}
.layui-bg-orange {
	background-color:#F7B824
}
.layui-bg-green {
	background-color:#009688
}
.layui-bg-cyan {
	background-color:#2F4056
}
.layui-bg-blue {
	background-color:#1E9FFF
}
.layui-bg-black {
	background-color:#393D49
}
.layui-bg-gray {
	background-color:#eee
}
.layui-word-aux {
	font-size:12px;
	color:#999;
	padding:0 5px
}
.layui-btn {
	display:inline-block;
	height:38px;
	line-height:38px;
	padding:0 18px;
	background-color:#009688;
	color:#fff;
	white-space:nowrap;
	text-align:center;
	font-size:14px;
	border:none;
	border-radius:2px;
	cursor:pointer;
	opacity:.9;
	filter:alpha(opacity=90)
}
.layui-btn:hover {
	opacity:.8;
	filter:alpha(opacity=80);
	color:#fff
}
.layui-btn:active {
	opacity:1;
	filter:alpha(opacity=100)
}
.layui-btn+.layui-btn {
	margin-left:10px
}
.layui-btn-radius {
	border-radius:100px
}
.layui-btn .layui-icon {
	font-size:18px;
	vertical-align:bottom
}
.layui-btn-primary {
	border:1px solid #C9C9C9;
	background-color:#fff;
	color:#555
}
.layui-btn-primary:hover {
	border-color:#009688;
	color:#333
}
.layui-btn-normal {
	background-color:#1E9FFF
}
.layui-btn-warm {
	background-color:#F7B824
}
.layui-btn-danger {
	background-color:#FF5722
}
.layui-btn-disabled,.layui-btn-disabled:active,.layui-btn-disabled:hover {
	border:1px solid #e6e6e6;
	background-color:#FBFBFB;
	color:#C9C9C9;
	cursor:default;
	opacity:1
}
.layui-btn-big {
	height:44px;
	line-height:44px;
	padding:0 25px;
	font-size:16px
}
.layui-btn-small {
	height:30px;
	line-height:30px;
	padding:0 10px;
	font-size:12px
}
.layui-btn-small i {
	font-size:16px!important
}
.layui-btn-mini {
	height:22px;
	line-height:22px;
	padding:0 5px;
	font-size:12px
}
.layui-btn-mini i {
	font-size:14px!important
}
.layui-btn-group {
	display:inline-block;
	vertical-align:middle;
	font-size:0
}
.layui-btn-group .layui-btn {
	margin-left:0!important;
	margin-right:0!important;
	border-left:1px solid rgba(255,255,255,.5);
	border-radius:0
}
.layui-btn-group .layui-btn-primary {
	border-left:none
}
.layui-btn-group .layui-btn-primary:hover {
	border-color:#C9C9C9;
	color:#009688
}
.layui-btn-group .layui-btn:first-child {
	border-left:none;
	border-radius:2px 0 0 2px
}
.layui-btn-group .layui-btn-primary:first-child {
	border-left:1px solid #c9c9c9
}
.layui-btn-group .layui-btn:last-child {
	border-radius:0 2px 2px 0
}
.layui-btn-group .layui-btn+.layui-btn {
	margin-left:0
}
.layui-btn-group+.layui-btn-group {
	margin-left:10px
}
.layui-input,.layui-select,.layui-textarea {
	height:38px;
	line-height:38px;
	line-height:36px\9;
	border:1px solid #e6e6e6;
	background-color:#fff;
	border-radius:2px
}
.layui-form-label,.layui-form-mid,.layui-textarea {
	line-height:20px;
	position:relative
}
.layui-input,.layui-textarea {
	display:block;
	width:98%;
	padding-left:10px
}
.layui-input:hover,.layui-textarea:hover {
	border-color:#D2D2D2!important
}
.layui-input:focus,.layui-textarea:focus {
	border-color:#C9C9C9!important
}
.layui-textarea {
	min-height:100px;
	height:auto;
	padding:6px 10px;
	resize:vertical
}
.layui-select {
	padding:0 10px
}
.layui-form input[type=checkbox],.layui-form input[type=radio],.layui-form select {
	display:none
}
.layui-form-item {
	margin-bottom:15px;
	*zoom:1
}
.layui-form-item:after {
	content:'\20';
	clear:both;
	*zoom:1;
	display:block;
	height:0
}
.layui-form-label {
	float:left;
	display:block;
	padding:9px 15px;
	width:92px;
	font-weight:400;
	text-align:right
}
.layui-form-item .layui-inline {
	margin-bottom:5px;
	margin-right:10px
}
.layui-input-block,.layui-input-inline {
	position:relative
}
.layui-input-block {
	margin-left:123px;
	min-height:36px
}
.layui-input-inline {
	display:inline-block;
	vertical-align:middle
}
.layui-form-item .layui-input-inline {
	float:left;
	width:206px;
	margin-right:10px
}
.layui-form-text .layui-input-inline {
	width:auto
}
.layui-form-mid {
	float:left;
	display:block;
	padding:8px 0;
	margin-right:10px
}
.layui-form-danger+.layui-form-select .layui-input,.layui-form-danger:focus {
	border:1px solid #FF5722!important
}
.layui-form-select {
	position:relative
}
.layui-form-select .layui-input {
	padding-right:30px;
	cursor:pointer
}
.layui-form-select .layui-edge {
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-3px;
	cursor:pointer;
	border-width:6px;
	border-top-color:#c2c2c2;
	border-top-style:solid;
	transition:all .3s;
	-webkit-transition:all .3s
}
.layui-form-select dl {
	display:none;
	position:absolute;
	left:0;
	top:42px;
	padding:5px 0;
	z-index:999;
	min-width:100%;
	border:1px solid #d2d2d2;
	max-height:300px;
	overflow-y:auto;
	background-color:#fff;
	border-radius:2px;
	box-shadow:0 2px 4px rgba(0,0,0,.12);
	box-sizing:border-box
}
.layui-form-select dl dd,.layui-form-select dl dt {
	padding:0 10px;
	line-height:36px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.layui-form-select dl dt {
	font-size:12px;
	color:#999
}
.layui-form-select dl dd {
	cursor:pointer
}
.layui-form-select dl dd:hover {
	background-color:#f2f2f2
}
.layui-form-select .layui-select-group dd {
	padding-left:20px
}
.layui-form-select dl dd.layui-this {
	background-color:#5FB878;
	color:#fff
}
.layui-form-checkbox,.layui-form-select dl dd.layui-disabled {
	background-color:#fff
}
.layui-form-selected dl {
	display:block
}
.layui-form-checkbox,.layui-form-checkbox *,.layui-form-radio,.layui-form-radio *,.layui-form-switch {
	display:inline-block;
	vertical-align:middle
}
.layui-form-selected .layui-edge {
	margin-top:-9px;
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
	margin-top:-3px\9
}
:root .layui-form-selected .layui-edge {
	margin-top:-9px\0/IE9
}
.layui-select-none {
	margin:5px 0;
	text-align:center;
	color:#999
}
.layui-select-disabled .layui-disabled {
	border-color:#eee!important
}
.layui-select-disabled .layui-edge {
	border-top-color:#d2d2d2
}
.layui-form-checkbox {
	position:relative;
	height:30px;
	line-height:28px;
	margin:4px 10px 0 0;
	padding-right:30px;
	border:1px solid #d2d2d2;
	cursor:pointer;
	font-size:0;
	border-radius:2px;
	-webkit-transition:.1s linear;
	transition:.1s linear;
	box-sizing:border-box!important
}
.layui-form-checkbox:hover {
	border:1px solid #c2c2c2
}
.layui-form-checkbox span {
	padding:0 10px;
	height:100%;
	font-size:14px;
	background-color:#d2d2d2;
	color:#fff;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.layui-form-checkbox:hover span {
	background-color:#c2c2c2
}
.layui-form-checkbox i {
	position:absolute;
	right:0;
	width:30px;
	color:#fff;
	font-size:20px;
	text-align:center
}
.layui-form-checkbox:hover i {
	color:#c2c2c2
}
.layui-form-checked,.layui-form-checked:hover {
	border-color:#5FB878
}
.layui-form-checked span,.layui-form-checked:hover span {
	background-color:#5FB878
}
.layui-form-checked i,.layui-form-checked:hover i {
	color:#5FB878
}
.layui-form-checkbox[lay-skin=primary] {
	margin-top:6px;
	border:none!important;
	padding-right:0;
	background:0 0
}
.layui-form-checkbox[lay-skin=primary] span {
	float:right;
	background:0 0;
	color:#666
}
.layui-form-checkbox[lay-skin=primary] i {
	position:relative;
	top:0;
	width:16px;
	line-height:16px;
	border:1px solid #d2d2d2;
	font-size:12px;
	border-radius:2px;
	background-color:#fff;
	-webkit-transition:.1s linear;
	transition:.1s linear
}
.layui-form-checkbox[lay-skin=primary]:hover i {
	border-color:#5FB878;
	color:#fff
}
.layui-form-checked[lay-skin=primary] i {
	border-color:#5FB878;
	background-color:#5FB878;
	color:#fff
}
.layui-checkbox-disbaled[lay-skin=primary] span {
	background:0 0!important
}
.layui-checkbox-disbaled[lay-skin=primary]:hover i {
	border-color:#d2d2d2
}
.layui-form-switch {
	position:relative;
	height:22px;
	line-height:22px;
	width:42px;
	padding:0 5px;
	margin-top:8px;
	border:1px solid #d2d2d2;
	border-radius:20px;
	cursor:pointer;
	background-color:#fff;
	-webkit-transition:.1s linear;
	transition:.1s linear
}
.layui-form-switch i {
	position:absolute;
	left:5px;
	top:3px;
	width:16px;
	height:16px;
	border-radius:20px;
	background-color:#d2d2d2;
	-webkit-transition:.1s linear;
	transition:.1s linear
}
.layui-form-switch em {
	position:absolute;
	right:5px;
	top:0;
	width:25px;
	padding:0!important;
	text-align:center!important;
	color:#999!important;
	font-style:normal!important;
	font-size:12px
}
.layui-form-onswitch {
	border-color:#5FB878;
	background-color:#5FB878
}
.layui-form-onswitch i {
	left:32px;
	background-color:#fff
}
.layui-form-onswitch em {
	left:5px;
	right:auto;
	color:#fff!important
}
.layui-checkbox-disbaled {
	border-color:#e2e2e2!important
}
.layui-checkbox-disbaled span {
	background-color:#e2e2e2!important
}
.layui-checkbox-disbaled:hover i {
	color:#fff!important
}
.layui-form-radio {
	line-height:28px;
	margin:6px 10px 0 0;
	padding-right:10px;
	cursor:pointer;
	font-size:0
}
.layui-form-radio i {
	margin-right:8px;
	font-size:22px;
	color:#c2c2c2
}
.layui-form-radio span {
	font-size:14px
}
.layui-form-radio i:hover,.layui-form-radioed i {
	color:#5FB878
}
.layui-radio-disbaled i {
	color:#e2e2e2!important
}
.layui-form-pane .layui-form-label {
	width:110px;
	padding:8px 15px;
	height:38px;
	line-height:20px;
	border:1px solid #e6e6e6;
	border-radius:2px 0 0 2px;
	text-align:center;
	background-color:#FBFBFB;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-box-sizing:border-box!important;
	-moz-box-sizing:border-box!important;
	box-sizing:border-box!important
}
.layui-form-pane .layui-input-inline {
	margin-left:-1px
}
.layui-form-pane .layui-input-block {
	margin-left:110px;
	left:-1px
}
.layui-form-pane .layui-input {
	border-radius:0 2px 2px 0
}
.layui-form-pane .layui-form-text .layui-form-label {
	float:none;
	width:100%;
	border-right:1px solid #e6e6e6;
	border-radius:2px;
	-webkit-box-sizing:border-box!important;
	-moz-box-sizing:border-box!important;
	box-sizing:border-box!important;
	text-align:left
}
.layui-laypage button,.layui-laypage input,.layui-nav {
	-webkit-box-sizing:border-box!important;
	-moz-box-sizing:border-box!important
}
.layui-form-pane .layui-form-text .layui-input-inline {
	display:block;
	margin:0;
	top:-1px;
	clear:both
}
.layui-form-pane .layui-form-text .layui-input-block {
	margin:0;
	left:0;
	top:-1px
}
.layui-form-pane .layui-form-text .layui-textarea {
	min-height:100px;
	border-radius:0 0 2px 2px
}
.layui-form-pane .layui-form-checkbox {
	margin:4px 0 4px 10px
}
.layui-form-pane .layui-form-radio,.layui-form-pane .layui-form-switch {
	margin-top:6px;
	margin-left:10px
}
.layui-form-pane .layui-form-item[pane] {
	position:relative;
	border:1px solid #e6e6e6
}
.layui-form-pane .layui-form-item[pane] .layui-form-label {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	border-width:0 1px 0 0
}
.layui-form-pane .layui-form-item[pane] .layui-input-inline {
	margin-left:110px
}
.layui-layedit {
	border:1px solid #d2d2d2;
	border-radius:2px
}
.layui-layedit-tool {
	padding:3px 5px;
	border-bottom:1px solid #e2e2e2;
	font-size:0
}
.layedit-tool-fixed {
	position:fixed;
	top:0;
	border-top:1px solid #e2e2e2
}
.layui-layedit-tool .layedit-tool-mid,.layui-layedit-tool .layui-icon {
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	font-size:14px
}
.layui-layedit-tool .layui-icon {
	position:relative;
	width:32px;
	height:30px;
	line-height:30px;
	margin:3px 5px;
	color:#777;
	cursor:pointer;
	border-radius:2px
}
.layui-layedit-tool .layui-icon:hover {
	color:#393D49
}
.layui-layedit-tool .layui-icon:active {
	color:#000
}
.layui-layedit-tool .layedit-tool-active {
	background-color:#e2e2e2;
	color:#000
}
.layui-layedit-tool .layui-disabled,.layui-layedit-tool .layui-disabled:hover {
	color:#d2d2d2;
	cursor:not-allowed
}
.layui-layedit-tool .layedit-tool-mid {
	width:1px;
	height:18px;
	margin:0 10px;
	background-color:#d2d2d2
}
.layedit-tool-html {
	width:50px!important;
	font-size:30px!important
}
.layedit-tool-b,.layedit-tool-code,.layedit-tool-help {
	font-size:16px!important
}
.layedit-tool-d,.layedit-tool-face,.layedit-tool-image,.layedit-tool-unlink {
	font-size:18px!important
}
.layedit-tool-image input {
	position:absolute;
	font-size:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:.01;
	filter:Alpha(opacity=1);
	cursor:pointer
}
.layui-layedit-iframe iframe {
	display:block;
	width:100%
}
#LAY_layedit_code {
	overflow:hidden
}
.layui-table {
	width: 100%;
	margin:10px 0;
	background-color:#fff
}
.layui-table tr {
	transition:all .3s;
	-webkit-transition:all .3s
}
.layui-table thead tr {
	background-color:#f2f2f2
}
.layui-table th {
	text-align:left
}
.layui-table td,.layui-table th {
	padding:8px 10px;
	min-height:20px;
	line-height:20px;
	border:1px solid #e2e2e2;
	font-size:14px
}
.layui-table tr:hover,.layui-table[lay-even] tr:nth-child(even) {
	background-color:#f8f8f8
}
.layui-table[lay-skin=line],.layui-table[lay-skin=row] {
	border:1px solid #e2e2e2
}
.layui-table[lay-skin=line] td,.layui-table[lay-skin=line] th {
	border:none;
	border-bottom:1px solid #e2e2e2
}
.layui-table[lay-skin=row] td,.layui-table[lay-skin=row] th {
	border:none;
	border-right:1px solid #e2e2e2
}
.layui-table[lay-skin=nob] td,.layui-table[lay-skin=nob] th {
	border:none
}
.layui-upload-button {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	min-width:60px;
	height:38px;
	line-height:38px;
	border:1px solid #DFDFDF;
	border-radius:2px;
	overflow:hidden;
	background-color:#fff;
	color:#666
}
.layui-upload-button:hover {
	border:1px solid #aaa;
	color:#333
}
.layui-upload-button:active {
	border:1px solid #4CAF50;
	color:#000
}
.layui-upload-button input,.layui-upload-file {
	opacity:.01;
	filter:Alpha(opacity=1);
	cursor:pointer
}
.layui-upload-button input {
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	font-size:100px;
	width:100%;
	height:100%
}
.layui-upload-icon {
	display:block;
	margin:0 15px;
	text-align:center
}
.layui-upload-icon i {
	margin-right:5px;
	vertical-align:top;
	font-size:20px;
	color:#5FB878
}
.layui-upload-iframe {
	position:absolute;
	width:0;
	height:0;
	border:0;
	visibility:hidden
}
.layui-upload-enter {
	border:1px solid #009E94;
	background-color:#009E94;
	color:#fff;
	-webkit-transform:scale(1.1);
	transform:scale(1.1)
}
.layui-upload-enter .layui-upload-icon,.layui-upload-enter .layui-upload-icon i {
	color:#fff
}
.layui-flow-more {
	margin:10px 0;
	text-align:center;
	color:#999;
	font-size:14px
}
.layui-flow-more a {
	height:32px;
	line-height:32px
}
.layui-flow-more a * {
	display:inline-block;
	vertical-align:top
}
.layui-flow-more a cite {
	padding:0 20px;
	border-radius:3px;
	background-color:#eee;
	color:#333;
	font-style:normal
}
.layui-flow-more a cite:hover {
	opacity:.8
}
.layui-flow-more a i {
	font-size:30px;
	color:#737383
}
.layui-laypage {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	margin:10px 0;
	font-size:0
}
.layui-laypage>:first-child,.layui-laypage>:first-child em {
	border-radius:2px 0 0 2px
}
.layui-laypage>:last-child,.layui-laypage>:last-child em {
	border-radius:0 2px 2px 0
}
.layui-laypage a,.layui-laypage span {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	padding:0 15px;
	border:1px solid #e2e2e2;
	height:28px;
	line-height:28px;
	margin:0 -1px 5px 0;
	background-color:#fff;
	color:#333;
	font-size:12px
}
.layui-laypage em {
	font-style:normal
}
.layui-laypage span {
	color:#999;
	font-weight:700
}
.layui-laypage .layui-laypage-curr {
	position:relative
}
.layui-laypage .layui-laypage-curr em {
	position:relative;
	color:#fff;
	font-weight:400
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	position:absolute;
	left:-1px;
	top:-1px;
	padding:1px;
	width:100%;
	height:100%;
	background-color:#009688
}
.layui-laypage-em {
	border-radius:2px
}
.layui-laypage-next em,.layui-laypage-prev em {
	font-family:Sim sun;
	font-size:16px
}
.layui-laypage .layui-laypage-total {
	height:30px;
	line-height:30px;
	margin-left:1px;
	border:none;
	font-weight:400
}
.layui-laypage button,.layui-laypage input {
	height:30px;
	line-height:30px;
	border:1px solid #e2e2e2;
	border-radius:2px;
	vertical-align:top;
	background-color:#fff;
	box-sizing:border-box!important
}
.layui-laypage input {
	width:50px;
	margin:0 5px;
	text-align:center
}
.layui-laypage button {
	margin-left:5px;
	padding:0 15px;
	cursor:pointer
}
.layui-code {
	position:relative;
	margin:10px 0;
	padding:15px;
	line-height:20px;
	border:1px solid #ddd;
	border-left-width:6px;
	background-color:#F2F2F2;
	color:#333;
	font-family:Courier New;
	font-size:12px
}
.layui-tree {
	line-height:26px
}
.layui-tree li {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap
}
.layui-tree li .layui-tree-spread,.layui-tree li a {
	display:inline-block;
	vertical-align:top;
	height:26px;
	*display:inline;
	*zoom:1;
	cursor:pointer
}
.layui-tree li a {
	font-size:0
}
.layui-tree li a i {
	font-size:16px
}
.layui-tree li a cite {
	padding:0 6px;
	font-size:14px;
	font-style:normal
}
.layui-tree li i {
	padding-left:6px;
	color:#333
}
.layui-tree li .layui-tree-check {
	font-size:13px
}
.layui-tree li .layui-tree-check:hover {
	color:#009E94
}
.layui-tree li ul {
	display:none;
	margin-left:20px
}
.layui-tree li .layui-tree-enter {
	line-height:24px;
	border:1px dotted #000
}
.layui-tree-drag {
	display:none;
	position:absolute;
	left:-666px;
	top:-666px;
	background-color:#f2f2f2;
	padding:5px 10px;
	border:1px dotted #000;
	white-space:nowrap
}
.layui-tree-drag i {
	padding-right:5px
}
.layui-nav {
	position:relative;
	padding:0 20px;
	background-color:#393D49;
	color:#c2c2c2;
	border-radius:2px;
	font-size:0;
	box-sizing:border-box!important
}
.layui-nav * {
	font-size:14px
}
.layui-nav .layui-nav-item {
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	line-height:60px
}
.layui-nav .layui-nav-item a {
	display:block;
	padding:0 20px;
	color:#c2c2c2;
	transition:all .3s;
	-webkit-transition:all .3s
}
.layui-nav .layui-this:after,.layui-nav-bar,.layui-nav-tree .layui-nav-itemed:after {
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:5px;
	background-color:#5FB878;
	transition:all .2s;
	-webkit-transition:all .2s
}
.layui-nav-bar {
	z-index:1000
}
.layui-nav .layui-nav-item a:hover,.layui-nav .layui-this a {
	color:#fff
}
.layui-nav .layui-this:after {
	content:'';
	top:auto;
	bottom:0;
	width:100%
}
.layui-nav .layui-nav-more {
	content:'';
	width:0;
	height:0;
	border-style:solid dashed dashed;
	border-color:#c2c2c2 transparent transparent;
	overflow:hidden;
	cursor:pointer;
	transition:all .2s;
	-webkit-transition:all .2s;
	position:absolute;
	top:28px;
	right:3px;
	border-width:6px
}
.layui-nav .layui-nav-mored,.layui-nav-itemed .layui-nav-more {
	top:22px;
	border-style:dashed dashed solid;
	border-color:transparent transparent #c2c2c2
}
.layui-nav-child {
	display:none;
	position:absolute;
	left:0;
	top:65px;
	min-width:100%;
	line-height:36px;
	padding:5px 0;
	box-shadow:0 2px 4px rgba(0,0,0,.12);
	border:1px solid #d2d2d2;
	background-color:#fff;
	z-index:100;
	border-radius:2px;
	white-space:nowrap
}
.layui-nav .layui-nav-child a {
	color:#333
}
.layui-nav .layui-nav-child a:hover {
	background-color:#f2f2f2;
	color:#333
}
.layui-nav-child dd {
	position:relative
}
.layui-nav-child dd.layui-this {
	background-color:#5FB878;
	color:#fff
}
.layui-nav-child dd.layui-this a {
	color:#fff
}
.layui-nav-child dd.layui-this:after {
	display:none
}
.layui-nav-tree {
	width:200px;
	padding:0
}
.layui-nav-tree .layui-nav-item {
	display:block;
	width:100%;
	line-height:45px
}
.layui-nav-tree .layui-nav-item a {
	height:45px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap
}
.layui-nav-tree .layui-nav-item a:hover {
	background-color:#4E5465
}
.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-this>a:hover {
	background-color:#009688;
	color:#fff
}
.layui-nav-tree .layui-this:after {
	display:none
}
.layui-nav-itemed>a,.layui-nav-tree .layui-nav-title a,.layui-nav-tree .layui-nav-title a:hover {
	background-color:#2B2E37!important;
	color:#fff!important
}
.layui-nav-tree .layui-nav-bar {
	width:5px;
	height:0;
	background-color:#009688
}
.layui-nav-tree .layui-nav-child {
	position:relative;
	z-index:0;
	top:0;
	border:none;
	box-shadow:none
}
.layui-nav-tree .layui-nav-child a {
	height:40px;
	line-height:40px;
	color:#c2c2c2
}
.layui-nav-tree .layui-nav-child,.layui-nav-tree .layui-nav-child a:hover {
	background:0 0;
	color:#fff
}
.layui-nav-tree .layui-nav-more {
	top:20px;
	right:10px
}
.layui-nav-itemed .layui-nav-more {
	top:14px
}
.layui-nav-itemed .layui-nav-child {
	display:block;
	padding:0
}
.layui-nav-side {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	overflow-x:hidden;
	z-index:999
}
.layui-breadcrumb {
	visibility:hidden;
	font-size:0
}
.layui-breadcrumb a {
	padding-right:8px;
	line-height:22px;
	font-size:14px;
	color:#333!important
}
.layui-breadcrumb a:hover {
	color:#01AAED!important
}
.layui-breadcrumb a cite,.layui-breadcrumb a span {
	color:#666;
	cursor:text;
	font-style:normal
}
.layui-breadcrumb a span {
	padding-left:8px;
	font-family:Sim sun
}
.layui-tab {
	margin:10px 0;
	text-align:left!important
}
.layui-fixbar li,.layui-tab-bar,.layui-tab-title li,.layui-util-face ul li {
	cursor:pointer;
	text-align:center
}
.layui-tab[overflow]>.layui-tab-title {
	overflow:hidden
}
.layui-tab-title {
	position:relative;
	left:0;
	height:40px;
	white-space:nowrap;
	font-size:0;
	border-bottom:1px solid #e2e2e2;
	transition:all .2s;
	-webkit-transition:all .2s
}
.layui-tab-title li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	font-size:14px;
	transition:all .2s;
	-webkit-transition:all .2s;
	position:relative;
	line-height:40px;
	min-width:65px;
	padding:0 10px
}
.layui-tab-title li a {
	display:block
}
.layui-tab-title .layui-this {
	color:#000
}
.layui-tab-title .layui-this:after {
	position:absolute;
	left:0;
	top:0;
	content:'';
	width:100%;
	height:41px;
	border:1px solid #e2e2e2;
	border-bottom-color:#fff;
	border-radius:2px 2px 0 0;
	-webkit-box-sizing:border-box!important;
	-moz-box-sizing:border-box!important;
	box-sizing:border-box!important;
	pointer-events:none
}
.layui-tab-bar {
	position:absolute;
	right:0;
	top:0;
	z-index:10;
	width:30px;
	height:39px;
	line-height:39px;
	border:1px solid #e2e2e2;
	border-radius:2px;
	background-color:#fff
}
.layui-tab-bar .layui-icon {
	position:relative;
	display:inline-block;
	top:3px;
	transition:all .3s;
	-webkit-transition:all .3s
}
.layui-tab-item,.layui-util-face .layui-layer-TipsG {
	display:none
}
.layui-tab-more {
	padding-right:30px;
	height:auto;
	white-space:normal
}
.layui-tab-more li.layui-this:after {
	border-bottom-color:#e2e2e2;
	border-radius:2px
}
.layui-tab-more .layui-tab-bar .layui-icon {
	top:-2px;
	top:3px\9;
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}
:root .layui-tab-more .layui-tab-bar .layui-icon {
	top:-2px\0/IE9
}
.layui-tab-content {
	padding:10px
}
.layui-tab-title li .layui-tab-close {
	position:relative;
	margin-left:8px;
	top:1px;
	color:#c2c2c2;
	transition:all .2s;
	-webkit-transition:all .2s
}
.layui-tab-title li .layui-tab-close:hover {
	border-radius:2px;
	background-color:#FF5722;
	color:#fff
}
.layui-tab-brief>.layui-tab-title .layui-this {
	color:#009688
}
.layui-tab-brief>.layui-tab-more li.layui-this:after,.layui-tab-brief>.layui-tab-title .layui-this:after {
	border:none;
	border-radius:0;
	border-bottom:3px solid #5FB878
}
.layui-tab-brief[overflow]>.layui-tab-title .layui-this:after {
	top:-1px
}
.layui-tab-card {
	border:1px solid #e2e2e2;
	border-radius:2px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.1)
}
.layui-tab-card>.layui-tab-title {
	background-color:#f2f2f2
}
.layui-tab-card>.layui-tab-title li {
	margin-right:-1px;
	margin-left:-1px
}
.layui-tab-card>.layui-tab-title .layui-this {
	background-color:#fff
}
.layui-tab-card>.layui-tab-title .layui-this:after {
	border-top:none;
	border-width:1px;
	border-bottom-color:#fff
}
.layui-tab-card>.layui-tab-title .layui-tab-bar {
	height:40px;
	line-height:40px;
	border-radius:0;
	border-top:none;
	border-right:none
}
.layui-tab-card>.layui-tab-more .layui-this {
	background:0 0;
	color:#5FB878
}
.layui-tab-card>.layui-tab-more .layui-this:after {
	border:none
}
.layui-fixbar {
	position:fixed;
	right:15px;
	bottom:15px;
	z-index:9999
}
.layui-fixbar li {
	width:50px;
	height:50px;
	line-height:50px;
	margin-bottom:1px;
	font-size:30px;
	background-color:#9F9F9F;
	color:#fff;
	border-radius:2px;
	opacity:.95
}
.layui-fixbar li:hover {
	opacity:.85
}
.layui-fixbar li:active {
	opacity:1
}
.layui-fixbar .layui-fixbar-top {
	display:none;
	font-size:40px
}
body .layui-util-face {
	border:none;
	background:0 0
}
body .layui-util-face .layui-layer-content {
	padding:0;
	background-color:#fff;
	color:#666;
	box-shadow:none
}
.layui-util-face ul {
	position:relative;
	width:372px;
	padding:10px;
	border:1px solid #D9D9D9;
	background-color:#fff;
	box-shadow:0 0 20px rgba(0,0,0,.2)
}
.layui-util-face ul li {
	float:left;
	border:1px solid #e8e8e8;
	height:22px;
	width:26px;
	overflow:hidden;
	margin:-1px 0 0 -1px;
	padding:4px 2px
}
.layui-util-face ul li:hover {
	position:relative;
	z-index:2;
	border:1px solid #eb7350;
	background:#fff9ec
}
.layui-anim {
	-webkit-animation-duration:.3s;
	animation-duration:.3s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}
.layui-anim-loop {
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite
}
@-webkit-keyframes layui-rotate {
	from {
	-webkit-transform:rotate(0)
}
to {
	-webkit-transform:rotate(360deg)
}
}@keyframes layui-rotate {
	from {
	transform:rotate(0)
}
to {
	transform:rotate(360deg)
}
}.layui-anim-rotate {
	-webkit-animation-name:layui-rotate;
	animation-name:layui-rotate;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear
}
@-webkit-keyframes layui-up {
	from {
	-webkit-transform:translate3d(0,100%,0);
	opacity:.3
}
to {
	-webkit-transform:translate3d(0,0,0);
	opacity:1
}
}@keyframes layui-up {
	from {
	transform:translate3d(0,100%,0);
	opacity:.3
}
to {
	transform:translate3d(0,0,0);
	opacity:1
}
}.layui-anim-up {
	-webkit-animation-name:layui-up;
	animation-name:layui-up
}
@-webkit-keyframes layui-upbit {
	from {
	-webkit-transform:translate3d(0,30px,0);
	opacity:.3
}
to {
	-webkit-transform:translate3d(0,0,0);
	opacity:1
}
}@keyframes layui-upbit {
	from {
	transform:translate3d(0,30px,0);
	opacity:.3
}
to {
	transform:translate3d(0,0,0);
	opacity:1
}
}.layui-anim-upbit {
	-webkit-animation-name:layui-upbit;
	animation-name:layui-upbit
}
@-webkit-keyframes layui-scale {
	0% {
	opacity:.3;
	-webkit-transform:scale(.5)
}
100% {
	opacity:1;
	-webkit-transform:scale(1)
}
}@keyframes layui-scale {
	0% {
	opacity:.3;
	-ms-transform:scale(.5);
	transform:scale(.5)
}
100% {
	opacity:1;
	-ms-transform:scale(1);
	transform:scale(1)
}
}.layui-anim-scale {
	-webkit-animation-name:layui-scale;
	animation-name:layui-scale
}
@-webkit-keyframes layui-scale-spring {
	0% {
	opacity:.5;
	-webkit-transform:scale(.5)
}
80% {
	opacity:.8;
	-webkit-transform:scale(1.1)
}
100% {
	opacity:1;
	-webkit-transform:scale(1)
}
}@keyframes layui-scale-spring {
	0% {
	opacity:.5;
	-ms-transform:scale(.5);
	transform:scale(.5)
}
80% {
	opacity:.8;
	-ms-transform:scale(1.1);
	transform:scale(1.1)
}
100% {
	opacity:1;
	-ms-transform:scale(1);
	transform:scale(1)
}
}.layui-anim-scaleSpring {
	-webkit-animation-name:layui-scale-spring;
	animation-name:layui-scale-spring
}
@media screen and (max-width:450px) {
	.layui-form-item .layui-form-label {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap
}
.layui-form-item .layui-inline {
	display:block;
	margin-right:0;
	margin-bottom:20px;
	clear:both
}
.layui-form-item .layui-inline:after {
	content:'\20';
	clear:both;
	display:block;
	height:0
}
.layui-form-item .layui-input-inline {
	display:block;
	float:none;
	left:-3px;
	width:auto;
	margin:0 0 10px 112px
}
.layui-form-item .layui-input-inline+.layui-form-mid {
	margin-left:110px;
	top:-5px;
	padding:0
}
.layui-form-item .layui-form-checkbox {
	margin-right:5px;
	margin-bottom:5px
}
}
