 {include file="public/common" /}

 <a href="/admin/exposition/edit_expos" class="layui-btn layui-btn-small">新增</a>

 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
     <legend> 展览列表 </legend>
 </fieldset>


 <table class="layui-table">
        <thead>
        <tr>
            <th >title</th>
            <th >type</th>
            <th >starttime</th>
            <th >endtime</th>
            <th >cost</th>
            <th >taglist</th>
            <th >subject</th>
            <th >abstract</th>
            <th >handle</th>
        </tr>
        </thead>
        <tbody>
		<tr class="">
            <th >title</th>
            <th >type</th>
            <th >starttime</th>
            <th >endtime</th>
            <th >cost</th>
            <th >taglist</th>
            <th >subject</th>
            <th >abstract</th>
            <td >
                <a href="/admin/exposition/edit_expos" class="layui-btn layui-btn-small">编辑</a>
            </td>
        </tr>
      
                </tbody>
    </table>