{include file="public/common" /}

<a href="/admin/exposition/edit_expos" class="layui-btn layui-btn-small">新增</a>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend> 展览列表 </legend>
</fieldset>


<table class="layui-table">
    <thead>

    <tr>
        <th >acasc</th>
        <th >scascas</th>
        <th >asc</th>
        <th >ascasc</th>
        <th >scasc</th>
        <th >scasc</th>
        <th >scasc</th>
        <th >scasc</th>
        <th >scasc</th>
    </tr>
    </thead>
    <tbody>
    <tr class="">
        <td >scasc</td>
        <td >000044</td>
        <td >scasc</td>
        <td >scasc</td>
        <td >0.00</td>
        <td >123323244</td>
        <td >scasc </td>
        <td >2017-10-19 10:34:19</td>
        <td >
            <a href="/admin/exposition/edit_expos" class="layui-btn layui-btn-small">编辑</a>
        </td>
    </tr>

    </tbody>
</table>